body {
    font-family: Arial, sans-serif;
    padding: 2rem;
    line-height: 1.6;
    background: #000000;
    color: #eee;
}

h1 {
    color: #eee;
}

code {
    background: #222;
    padding: 4px 8px;
    border-radius: 3px;
    color: #fff;
}

pre {
    background: #222;
    padding: 1rem;
    overflow-x: auto;
}